@use "../../styles/partials/mixins" as *;

.blog {
  padding: 2rem;

  @include tablet {
    padding: 2rem 5rem 2rem 5rem;
  }

  &__header {
    font-size: 2.5rem;
    text-align: center;

    @include desktop {
      padding: 0 3rem;
      text-align: left;
    }
  }
}
