@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.blog-page {
  &__header {
    font-size: 2rem;
    text-align: left;
    padding: 0 2rem;
    color: $primary-color;

    @include tablet {
      padding: 10rem 2rem 0 5rem;
      font-size: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__add {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid $primary-color;
    margin: 1rem 2rem;
    border-radius: 0.2rem;

    @include tablet {
      width: 15rem;
      margin-left: auto;
      margin-right: 6rem;
      flex-direction: row;
    }

    &-icon {
      width: 2.5rem;
      margin-top: 0.5rem;

      @include tablet {
        width: 3rem;
      }
    }
  }
}
