@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 2;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 1rem;
  width: 100%;

  @include tablet {
    width: 50rem;
  }

  &__close {
    margin-left: 85%;
    border: 2px $secondary-color solid;

    @include desktop {
      margin-left: 95%;
    }
  }

  &__close-image {
    width: 1.5rem;

    @include tablet {
      width: 2.5rem;
    }
  }

  &__form {
    width: 100%;
    text-align: center;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__label {
      background-color: $secondary-color;
      color: black;
      padding: 0.5rem 1rem;
      margin-bottom: 0.75rem;
      font-size: 1rem;
      font-family: "Montserrat";
    }

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__input {
    width: 80%;
    border: 2px solid $secondary-color;

    @include desktop {
      width: 100%;
    }
  }

  &__input--title {
    padding: 1rem 1rem 2rem 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  &__input--content {
    padding: 1rem 1rem 10rem 1rem;
    overflow: hidden;
    font-size: 1.25rem;
  }

  &__button-wrapper {
    width: 100%;
    text-align: center;
  }

  &__button {
    width: 40%;
    padding: 0.75rem;

    color: black;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    margin: 1rem 0.5rem;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 600;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      width: 45%;
    }
  }
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(19, 24, 44, 0.5);
}
