@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   align-items: center;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 1rem;
  width: 100%;

  @include tablet {
    width: 50rem;
  }

  &__close {
    margin-left: 85%;

    @include desktop {
      margin-left: 95%;
    }
  }

  &__close-image {
    width: 2.5rem;
  }

  &__form {
    width: 100%;
    text-align: center;
  }

  &__input {
    width: 80%;
    height: 10rem;
    border: 1px solid $primary-color;
    border-radius: 0.5rem;

    @include desktop {
      width: 100%;
    }
  }

  &__button-wrapper {
    width: 100%;
    text-align: center;
  }

  &__button {
    width: 40%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: $primary-color;
    border: 1px solid $primary-color;
    margin: 0 0.5rem;

    @include desktop {
      width: 45%;
    }
  }
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(19, 24, 44, 0.5);
}
