@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.chat {
  padding: 2rem;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Montserrat";
  display: grid;
  place-items: center;

  &__title {
    padding: 6rem 3rem 0 3rem;
    font-family: "Monterserrat";
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  &__input {
    width: 100%;
    height: 40px;
    margin: 7px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  &__button {
    width: 100%;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: $primary-color;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: $third-color;
      color: white;

      // border: solid $ 2px;
    }
  }
}
