@use "../../styles/partials/mixins" as *;

.header {
  width: 100%;
  text-align: center;

  &__title {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    color: black;

    @include tablet {
      font-size: 4rem;
      position: absolute;
      padding-right: 2rem;
      width: 95%;
      text-align: right;
    }

    @include desktop {
      text-align: right;
      padding: 5rem 3rem 2rem 2rem;
      font-size: 5rem;
      width: 95%;
    }
  }
}
