@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  width: 100%;
  z-index: 1;

  @include tablet {
    height: auto;

    position: absolute;
  }

  &__items {
    margin: 2rem;
    list-style-type: none;

    @include tablet {
      margin: 2rem 1rem;
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      margin: 2rem;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    @include tablet {
      padding-top: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $primary-color;
    border-radius: 48% 52% 65% 35% / 42% 50% 50% 58%;
    font-size: 1rem;
    padding: 1rem 0;
    list-style-type: none;

    @include tablet {
      padding: 1rem 0.75rem;
      font-size: 1.25rem;
    }

    @include desktop {
      padding: 1rem 2rem;
      font-size: 1.5rem;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  &__button {
    background-color: white;
    border: white;
    font-family: "Italiana";
    padding: 0 1rem 0 0;
  }

  &__id {
    padding: 0 2rem 0 0;
    font-weight: 600;
  }
}
