@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.post {
  &__content {
    box-shadow: 0px 2px 5px 0px #13182c1a;

    padding: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    background-color: $secondary-color;

    @include tablet {
      margin-bottom: 1rem;
      padding: 1rem 1.5rem 2rem 1.5rem;
    }
  }
  &__info {
    padding: 1rem 0;
  }
  &__name,
  &__text {
    font-family: "Montserrat";
  }

  &__name {
    font-weight: 600;
    font-size: 1.2rem;
    color: $primary-color;
  }
}
