@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.blog-home {
  &__header {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    color: $primary-color;
    font-weight: 600;

    @include tablet {
      font-size: 2.5rem;
      padding-top: 10rem;
    }

    @include desktop {
      text-align: left;
      padding: 10rem 0 4rem 3.5rem;
      font-size: 3rem;
    }
  }
}

.locationfinder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  padding: 2rem;

  @include tablet {
    flex-direction: row;
    gap: 20rem;
  }

  &__link {
    text-decoration: none;
    list-style-type: none;
  }

  &__header {
    font-size: 2rem;
    color: black;
  }
}
